services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana:/var/lib/grafana
    networks:
      - monitoring
    restart: unless-stopped

volumes:
  grafana:

networks:
  monitoring:
    external: true
